body{
    overflow-x: hidden;
}
/* header */
header{
    background-image: url("../events-heavenly-header.jpg");
    height:95vh;
    background-size: 100% 100%;
    color: white;
}
.layer{
    background-color: rgba(214, 46, 51 , 0.6);
    height: 100%;
    margin-left: 0px;
}
.headercontent h1{
    font-size:60px;
}
.headercontent .open-sidebar{
    font-size: 30px;
    align-self: flex-start;
    padding-left:20px;
}
/* sidebar */
.sidebar{
    width: 250px;
    position: fixed;
    height: 100%;
    top: 0;
    left: -250px;
}
.sidebar ul{
    list-style-type: none;
}
.sidebar-content ul li{
    margin-block: 30px;
}
.sidebar-content ul a{
    font-size: 25px;
    transition: all 0.5s;
    color: white;
    text-decoration: none;
}
.sidebar-content i{
    transition: all 0.5s;
}
.sidebar-content ul a:hover,.sidebar-content i:hover{
    color: red;
}
/* section two */
.slides{
    width: 50%;
    margin-inline:auto;
    margin-block:100px;
    background-color: #CCCCCC;
}
.slides h3{
    background-color: #E68285;
    color: white;
    padding-block: 10px;
    margin: 0;
}
.slides p{
    padding: 10px;
    display: none;
}
/* details */
.Details{
    background-image: url(../invitation-2508607__340.jpg);
    background-size: cover;
    margin-bottom: 100px;
}
.Details-layer{
    background-color:rgba(214, 46, 51 , 0.6);
}
.Details .row{
    padding: 70px 40px;
}
.item{
    padding: 50px;
    color: white;
    font-size: 30px;
    font-weight: 500;
    border: 1px solid white;
    text-align: center;
}
/* contact */
.contact{
    margin-block: 100px;
}
.contact h2{
    font-size: 35px;
    font-weight: 700;
    color: #444;
}
.contact p{
    color: #777;
}
.contact-content h3{
    font-size: 18px;
    font-weight: 900;
    color: #444;
}
.contact-content ul{
    list-style-type: none;
    margin-top: 50px;
    color: #777;
}
.contact-content ul li{
    text-align: center;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: 1px solid #777;
    transition: all 0.2s;
}
.contact-content ul li:hover{
    background-color: red;
    color: white;
    border: none;
    transform: scale(1.1,1.1);
}
.contact-info p{
    margin-block: 20px;
}
.contact-form .emailinput{
    margin-block: 20px;
}
.messageinput{
    height: 200px;
}